###########################################################
#                         Required                        #
###########################################################

# 
# URL of the kinto-core we are connecting to. support both HTTP/HTTPS
#
REACT_APP_SERVER_URL=http://localhost:8090


###########################################################
#                         Optional                        #
###########################################################

# enable this on dev to show testing feature
REACT_APP_ALPHA_FEATURE_ENABLED=true

# for templating index.html.
REACT_APP_SITE_HOST=kintocloud.com

# the ttl for serverless pods. default to 5 minutes
REACT_APP_SLEEP_MODE_TTL_MINUTES=5

# a version number (string, preferably timestamp) for the localstorage (i.e. cache)
# any changes will need to ignore the cache and logout the users (required to login again)
REACT_APP_LOCAL_STORAGE_VERSION=